body
{
overflow-x:hidden;
}
.main1
{
width:100%;
}
.bg
{
height:100vh;
width:100%;
background-image:url("./assets/image.avif");
opacity:0.9;
}
body:hover
{
.navbar
{
background-color:black;
}
}
.navbar
{
background-color:transparent;
height:80px;
align-items:center;
justify-content:space-evenly;
display:flex;
}
.logo
{
margin-top:15px;
magin-left:40px;
}
.navitems
{
margin-top:55px;
width:80%;
height:60px;
}
.navitems p 
{
font:17px ShopifySans,Helvetica,Arial,San-Serif;
color:white;
display:inline;
margin-left:20px;
}
.login
{
color:white;
font:17px ShopifySans,Helvetica,Arial,San-Serif;
margin-right:30px;
}
.navitemlast
{
margin-right:130px;
border-radius:30px;
background-color:white;
width:180px;
height:45px;
text-align:center;
color:black;
font:15px ShopifySans,Helvetica,Arial,San-Serif;
}


.toggle
{
position:absolute;
color:white;
margin-right:40px;
font-size:25px;
display:none;
}
.making
{
margin-left:100px;
margin-top:80px;
width:600px;
height:300px;
}
.making1 p
{
font:55px ShopifySans,Helvetica,Arial,San-Serif;
color:#FFFFFF;
font-weight:bold;
}
.making2 p
{
font:23px ShopifySans,Helvetica,Arial,San-Serif;
width:500px;
color:white;
}
.main1foot
{
width:1500px;
height:60px;
margin-top:170px;
display:flex;
}
.m1fa
{
margin-left:40px;
margin-right:20px;
border-radius:30px;
background-color:white;
width:150px;
height:45px;
text-align:center;
color:black;
font:15px ShopifySans,Helvetica,Arial,San-Serif;
}
.m1fb
{
width:200px;
color:white;
font:15px ShopifySans,Helvetica,Arial,San-Serif;
}
.m1fc
{
margin-left:800px;
margin-right:20px;
border-radius:30px;
background-color:transparent;
border:1px solid white;
width:250px;
height:45px;
text-align:center;
color:white;
font:18px ShopifySans,Helvetica,Arial,San-Serif;
}

.globe
{
float:left;
height:580px;
width:580px;
margin-top:80px;
margin-left:30px;
}
.globetext
{
float:right;
font:30px ShopifySans,Helvetica,Arial,San-Serif;
margin-top:60px;
margin-left:40px;
width:50%;
}
.globetext2
{
height:320px;
width:800px;
font:40px ShopifySans,Helvetica,Arial,San-Serif;
display:flex;
margin-top:20px;
}
.vglobetext2
{
display:none;
}
.gflex1a
{
display:flex;
margin-bottom:80px;
margin-top:50px;
}
.gflex1b
{
display:flex;
}
.gflex2a
{
display:flex;
margin-bottom:80px;
margin-top:50px;
}
.gflex2b
{
display:flex;
}
.line
{
height:90px;
width:4px;
background-color:#01bae2;
margin-right:20px;
}
.globetext2 p
{
font:20px ShopifySans,Helvetica,Arial,San-Serif;
}
.gflex1
{
margin-right:80px;
}
.main3
{
font:11px ShopifySans,Helvetica,Arial,San-Serif;
color:#08445E;
width:100%;
height:30px;
padding:16px 0px 0px;
margin-top:70px;
margin-left:80px;
}
.main4
{
display:flex;
height:350px;
width:100%;
margin-top:40px;
margin-left:80px;
font:15px ShopifySans,Helvetica,Arial,San-Serif;
}
.main4a
{
display:flex;
}
.box
{
height:220px;
width:305px;
background-color:transparent;
border-radius:10px;
margin-right:30px;
box-shadow:0px 1px 2px 1px  #888888;
}
.one4a
{
height:50px;
width:50px;
margin-top:20px;
margin-left:20px;
}
.one4b
{
width:250px;
margin-top:10px;
margin-left:20px;
line-height:1.6;
}
.two4a
{
height:50px;
width:50px;
margin-top:20px;
margin-left:20px;
}
.two4b
{
width:250px;
margin-top:10px;
margin-left:20px;
line-height:1.6;
}
.three4a
{
height:50px;
width:50px;
margin-top:20px;
margin-left:20px;
}
.three4b
{
width:250px;
margin-top:10px;
margin-left:20px;
line-height:1.6;
}
.four4a
{
height:50px;
width:50px;
margin-top:20px;
margin-left:20px;
}
.four4b
{
width:250px;
margin-top:10px;
margin-left:20px;
line-height:1.6;
}
.main5
{
background-color:#F9FAFB;

}
.main5a
{
font:16px ShopifySans,Helvetica,Arial,San-Serif;
color:#08445E;
width:700px;
height:24px;
margin-left:80px;
font-weight:bold;
}
.main5b
{
font:43px ShopifySans,Helvetica,Arial,San-Serif;
color:#000000;
margin-left:80px;
height:40px;
margin-bottom:50px;
font-weight:bold;
}
.main5c
{
height:600px;
width:100%;
margin-left:80px;
}
.main6
{
display:flex;
height:400px;
width:100%;
margin-left:80px;
margin-bottom:60px;
}
.animatedline
{
height:2px;
width:415px;
border-radius:10px;
background-color:#01e2a2;
margin-right:30px;
}
.albox
{
height:220px;
width:400px;
background-color:transparent;
margin-right:30px;
margin-top:30px;
font:18px ShopifySans,Helvetica,Arial,San-Serif;
line-height:1.6;
}
.main7
{
margin-left:70px;
}
.main7a
{
display:flex;
}
.main7b
{
font:50px ShopifySans,Helvetica,Arial,San-Serif;
font-weight:bold;
width:400px;
margin-right:480px;
}
.main7b1
{

font:43px ShopifySans,Helvetica,Arial,San-Serif;

}
.main7c
{
font:15px ShopifySans,Helvetica,Arial,San-Serif ;
width:420px;
line-height:1.5;
}

.main7d
{
width:420px;
line-height:1.7;
margin-top:40px;
margin-bottom:20px;
display:flex;
}
.m7arrow
{
font-size:20px;
}
.main7d1
{
font:17px ShopifySans,Helvetica,Arial,San-Serif ;
margin-right:240px;
font-weight:bold;
}
.main7e
{
height:1px;
width:350px;
background-color:black;
}
.main8
{
width:1400px;
display:flex;
margin-top:100px;
margin-left:80px;
margin-bottom:80px;
}
.main8a
{
height:400px;
width:410px;
margin-right:25px;
}
.main8b
{
height:400px;
width:410px;
margin-right:25px;
}
.main8c
{
height:400px;
width:410px;
margin-right:25px;
}
.main9
{
height:500px;
width:500px;
margin-top:100px;
margin-left:80px;
display:flex;
}
.main9a
{
margin-top:100px;
}
.main9b
{
font:18px ShopifySans,Helvetica,Arial,San-Serif;
font-weight:bold;
width:400px;
margin-right:280px;
}
.main9c
{
font:43px ShopifySans,Helvetica,Arial,San-Serif ;
font-weight:bold;
width:500px;
line-height:1.2;
}
.main9d
{
font:20px ShopifySans,Helvetica,Arial,San-Serif ;
line-height:1.5;
width:480px;
margin-top:20px;
margin-bottom:80px;
}
.main9e
{
font:20px ShopifySans,Helvetica,Arial,San-Serif;
font-weight:bold;
display:flex;
}
.main9f
{
margin-top:20px;
height:1px;
width:350px;
background-color:black;
}
.main9g
{
height:500px;
width:600px;
}
.main10
{
margin-top:150px;
}
.main10a
{
display:flex;
margin-left:80px;
}
.main10b
{
font-weight:bold;
}
.main10d
{
font:16px ShopifySans,Helvetica,Arial,San-Serif;
color:#08445E;
width:500px;
height:24px;
font-weight:bold;
}
.main10e
{
margin-top:50px;
font:43px ShopifySans,Helvetica,Arial,San-Serif;
font-weight:bold;
}
.main10f
{
font:20px ShopifySans,Helvetica,Arial,San-Serif;
font-weight:bold;
display:flex;
}
.main10g
{
margin-top:15px;
height:1px;
width:400px;
background-color:black;
}
.main10h
{
margin-left:300px;
margin-top:80px;
}
.main11
{
margin-top:100px;
margin-left:80px;
margin:bottom:200px;
height:700px;
width:100%;
display:flex;
}
.main11i
{
height:650px;
width:700px;
}
.main11a
{
height:800px
width:100%;
}
.m11c
{
display:flex;
}
.m11d
{
width:50px;
}
.m11e
{
width:600px;

}
.m11f
{
font:25px ShopifySans,Helvetica,Arial,San-Serif;
font-weight:bold;
margin-bottom:40px;
}
.m11g
{
font:20px ShopifySans,Helvetica,Arial,San-Serif;
margin-bottom:40px;
line-height:1.5;
}
.m11h
{
height:1px;
width:570px;
background-color:black;
margin-bottom:80px;
}
.main12
{
margin-top:200px;
margin-left:80px;
margin:bottom:200px;
height:700px;
width:100%;
display:flex;
}
.main12b
{
height:800px
width:100%;
}
.m12d
{
display:flex;
}
.m12e
{
width:50px;
}
.m12f
{
width:600px;
}
.m12g
{
font:25px ShopifySans,Helvetica,Arial,San-Serif;
font-weight:bold;
margin-bottom:40px;
}
.m12h
{
font:20px ShopifySans,Helvetica,Arial,San-Serif;
margin-bottom:40px;
line-height:1.5;
}
.m12i
{
height:1px;
width:570px;
background-color:black;
margin-bottom:80px;
}
.scrollingtext
{
background-image:url("./assets/rgb1.jpg");
height:70px;
width:100%;
margin-top:100px;
}
@keyframes infiniteScroll {
  from {transform: translatex(-100%)}
  to {transform: translateX(100%)}
}
.scrollingtext {
  width: 100%;
}
.st1
{
display: flex;
width: 100%;
animation-name: infiniteScroll;
animation-duration: 15s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}
.st2
{
 white-space: nowrap;
font-size:32px;
margin-right:35px;
margin-top:15px;
}

.main14
{
margin-top:100px;
margin-left:300px;
height:550px;
align-items:center;
}
.main13
{
height:600px;
margin-bottom:80px;
margin-top:80px;
margin-left:80px;
display:flex;
}
.m13f
{
width:800px;
height:500px;
margin-left:80px;
}
.m13a
{
width:950px;
}
.m13b
{
margin-top:50px;
font:43px ShopifySans,Helvetica,Arial,San-Serif;
font-weight:bold;
}
.m13c
{
margin-top:50px;
font:35px ShopifySans,Helvetica,Arial,San-Serif;
font-weight:bold;
}
.m13d
{
margin-top:20px;
font:13px ShopifySans,Helvetica,Arial,San-Serif;
font-weight:bold;
}
.m13e
{
margin-top:20px;
font-size:40px;
display:flex;
}
.m13ea
{
margin-right:10px;
}
.foot1
{
height:1300px;
width:1600px;
background-color:black;
}
.f1a
{
width:100%;
height:350px;
text-align:center;
}
.f1aaa
{
height:150px;
width:100%;
background-color:black;
}
.f1aa
{
text-align:center;
color:white;
font:15px ShopifySans,Helvetica,Arial,San-Serif;
font-weight:bold;
}
.f1ab
{
width:100%;
color:white;
justify-content:center;
font:40px ShopifySans,Helvetica,Arial,San-Serif;
font-weight:bold;
margin-top:20px;
}
.f1ac
{
width:100%;
color:white;
font:40px ShopifySans,Helvetica,Arial,San-Serif;
font-weight:bold;
}
.f1b
{
margin-right:80px;
margin-left:200px;
height:800px;
width:75%;
}
.f1c
{
display:flex;
}
.f1box
{
height:380px;
width:540px;
border-radius:15px;
border:0.3px inset black;
background-color:#1B1F21;
}
.f1d
{
margin-right:30px;
margin-bottom:30px;
}
.f1g
{
margin-right:30px;
}
.f1f
{
display:flex;
}
.f1da
{
height:120px;
margin-top:40px;
margin-left:40px;
}
.f1db
{
height:70px;
font:40px ShopifySans,Helvetica,Arial,San-Serif;
font-weight:bold;
color:white;
margin-left:40px;
}
.f1dc
{
height:70px;
width:420px;
font:18px ShopifySans,Helvetica,Arial,San-Serif;
color:white;
margin-left:40px;
line-height:1.5;
}
.f1dd
{
height:23px;
width:90px;
margin-left:40px;
margin-top:20px;
border:1px solid white;
border-radius:15px;
font:16px ShopifySans,Helvetica,Arial,San-Serif;
color:white;
text-align:center;
}
.foot2
{
height:400px;
width:100%;
background-color:#5fd5b6;
border:1px solid black;
}
.f2
{
height:80px;
}
.f2b
{
width:100%;
text-align:center;
font:44px ShopifySans,Helvetica,Arial,San-Serif;
font-weight:bold;
}
.f2c
{
width:100%;
text-align:center;
font:44px ShopifySans,Helvetica,Arial,San-Serif;
font-weight:bold;
}
.f2d
{
margin-top:30px;
width:100%;
text-align:center;
font:25px ShopifySans,Helvetica,Arial,San-Serif;
}

.f2e
{
margin-top:10px;
width:100%;
text-align:center;
font:25px ShopifySans,Helvetica,Arial,San-Serif;
}
.f2f
{
margin-left:45%;
margin-top:30px;
border-radius:30px;
background-color:black;
width:200px;
height:60px;
border:1px solid black;
text-align:center;
color:white;
font-weight:bold;
font:22px ShopifySans,Helvetica,Arial,San-Serif;
}
.f3
{
margin-left:90px;
margin-top:100px;
display:flex;
}
.flogo
{
margin-right:300px;
}
.foot3div
{
font:19px ShopifySans,Helvetica,Arial,San-Serif;
}
.f3a p
{
font:18px ShopifySans,Helvetica,Arial,San-Serif;
margin-bottom:20px;
margin-right:100px;
}
.f3b p
{
font:18px ShopifySans,Helvetica,Arial,San-Serif;
margin-bottom:20px;
margin-right:100px;
}
.f3c p
{
font:18px ShopifySans,Helvetica,Arial,San-Serif;
margin-bottom:20px;
margin-right:100px;
}
.f3d p
{
font:18px ShopifySans,Helvetica,Arial,San-Serif;
margin-bottom:20px;
margin-right:100px;
}
.f4
{
margin-left:460px;
margin-top:100px;
display:flex;
}
.f3e p
{
font:18px ShopifySans,Helvetica,Arial,San-Serif;
margin-bottom:20px;
margin-right:100px;
}
.f3f p
{
font:18px ShopifySans,Helvetica,Arial,San-Serif;
margin-bottom:20px;
margin-right:100px;
}
.foot5
{
}
.f5a
{
margin-top:100px;
height:1px;
width:1300px;
background-color:grey;
margin-left:100px;
}
.foot6
{
height:10px;
}
.f6
{
display:flex;
font:18px ShopifySans,Helvetica,Arial,San-Serif;
margin-top:40px;
margin-left:100px;
}
.f6a
{
display:flex;
}
.f6aa
{
display:flex;
margin-right:40px;
}
.f6ab
{
margin-right:40px;
}
.f6b
{
margin-right:60px;
}
.f7img
{
background-image:url("./assets/f7img.png");
height:80px;
width:400px;
margin-left:1050px;
}




@media (max-width:1100px)
{
.bg
{
height:700px;
width:100vw;
}
.toggle
{
display:block;
margin-left:1000px;
}
.navitems
{
display:none;
}
.navitemlast
{
display:block;
background-color:transparent;
text-align:center;
color:white;
font:20px ShopifySans,Helvetica,Arial,San-Serif;
margin-left:200px;
width:150px
}
.login
{
display:none;
}
.logo
{
display:inline;
margin-right:400px;
}
.making 
{
margin-left:40px;
width:400px;
}
.making1 
{
font:45px ShopifySans,Helvetica,Arial,San-Serif;
color:#FFFFFF;
}
.making2 
{
width:600px;
}
.main1foot
{
margin-top:140px;
width:1400px;
}
.m1fa
{
margin-left:40px;
margin-right:20px;
border-radius:30px;
background-color:white;
width:150px;
height:45px;
text-align:center;
color:black;
font:15px ShopifySans,Helvetica,Arial,San-Serif;
}
.m1fb
{
width:200px;
color:white;
font:15px ShopifySans,Helvetica,Arial,San-Serif;
}
.m1fc
{
margin-left:400px;
margin-right:20px;
}
.globe
{
height:300px;
width:40%;
margin-top:100px;
margin-left:30px;
}
.globetext
{
float:right;
font:28px ShopifySans,Helvetica,Arial,San-Serif;
margin-top:60px;
margin-left:0px;
width:45%;
}
.globetext2
{
height:320px;
width:700px;
margin-left:500px;
}
.vglobetext2
{
display:none;
}
.main3
{
margin-left:40px;
}
.main4
{
margin-left:40px;
}
.box
{
height:250px;
width:233px;
margin-right:18px;
}
.one4b
{
width:200px;
}
.two4b
{
width:200px;
}
.three4b
{
width:200px;
}
.four4b
{
width:200px;
}
.main5a
{
margin-left:40px;
font-weight:bold;
}
.main5b
{
margin-left:40px;
font-weight:bold;
}
.main5c
{
margin-left:40px;
}
.main6
{
margin-left:40px;
margin-bottom:60px;
}
.animatedline
{
width:300px;
margin-right:30px;
}
.albox
{
height:220px;
width:300px;
margin-right:30px;
}
.main7
{
margin-left:40px;
}
.main7b
{
font:50px ShopifySans,Helvetica,Arial,San-Serif;
font-weight:bold;
width:400px;
margin-right:200px;
}
.main7b1
{
font:43px ShopifySans,Helvetica,Arial,San-Serif;
font-weight:bold;
}
.main7c
{
width:300px;
}

.main7d
{
width:400px;
}
.m7arrow
{
font-size:17px;
}
.main7e
{
width:300px;
}
.main7d1
{
margin-right:180px;
}
.main8
{
width:1100px;
margin-top:100px;
margin-left:40px;
margin-bottom:80px;
}
.main8a
{
height:300px;
width:310px;
margin-right:15px;
}
.main8b
{
height:300px;
width:310px;
margin-right:15px;
}
.main8c
{
height:300px;
width:310px;
margin-right:15px;
}
.main9
{
height:500px;
width:1000px;
margin-left:40px;
margin-top:100px;
}
.main9b
{
margin-top:100px;
font:15px ShopifySans,Helvetica,Arial,San-Serif;
font-weight:bold;
margin-right:150px;
}
.main9c
{
font:32px ShopifySans,Helvetica,Arial,San-Serif ;
font-weight:bold;
margin-top:10px;
}
.main9d
{
font:16px ShopifySans,Helvetica,Arial,San-Serif ;
line-height:1.5;
width:450px;
margin-top:20px;
margin-bottom:80px;
}
.main9g
{
height:400px;
width:400px;
margin-top:100px;
}
.main10
{
margin-top:250px;
}
.main10a
{
margin-left:40px;
}
.main10e
{
font:35px ShopifySans,Helvetica,Arial,San-Serif;
font-weight:bold;
}
.main10f
{
font:18px ShopifySans,Helvetica,Arial,San-Serif;
font-weight:bold;
}
.main10g
{
margin-top:15px;
height:1px;
width:390px;
background-color:black;
}
.main10h
{
margin-left:100px;
margin-top:80px;
}
.main11
{
margin-top:100px;
margin-left:0px;
margin:bottom:0px;
height:600px;
width:100%;
display:flex;
}
.main11i
{
height:550px;
width:550px;
}
.main11a
{
height:800px
width:100%;
}
.m11c
{
display:flex;
}
.m11d
{
width:50px;
}
.m11e
{
width:400px;

}
.m11f
{
font:22px ShopifySans,Helvetica,Arial,San-Serif;
font-weight:bold;
margin-bottom:30px;
}
.m11g
{
font:19px ShopifySans,Helvetica,Arial,San-Serif;
margin-bottom:30px;
line-height:1.5;
}
.m11h
{
height:1px;
width:380px;
margin-bottom:40px;
}
.main12
{
margin-top:100px;
margin-left:40px;
margin:bottom:200px;
height:600px;
width:100%;
display:flex;
}
.main12a
{
width:50%;
}
.main12b
{
height:800px
width:100%;
}
.m12f
{
width:400px;
}
.m12g
{
font:20px ShopifySans,Helvetica,Arial,San-Serif;
font-weight:bold;
margin-bottom:40px;
}
.m12h
{
font:18px ShopifySans,Helvetica,Arial,San-Serif;
margin-bottom:40px;
line-height:1.5;
}
.m12i
{
height:1px;
width:400px;
background-color:black;
margin-bottom:80px;
}
.main14
{
margin-top:100px;
height:550px;
margin-left:70px;
}
.main13
{
margin-top:80px;
margin-left:10px;
}
.m13f
{
width:800px;
height:500px;
margin-left:20px;
}
.m13a
{
width:600px;
}
.m13b
{
margin-top:50px;
font:32px ShopifySans,Helvetica,Arial,San-Serif;
font-weight:bold;
}
.m13c
{
margin-top:50px;
font:33px ShopifySans,Helvetica,Arial,San-Serif;
font-weight:bold;
}
.m13d
{
margin-top:20px;
font:13px ShopifySans,Helvetica,Arial,San-Serif;
font-weight:bold;
}
.m13e
{
margin-top:80px;
font-size:40px;
}
.foot1
{
height:1300px;
width:1100px;
}
.f1ab
{
font:35px ShopifySans,Helvetica,Arial,San-Serif;
font-weight:bold;
}
.f1ac
{
font:35px ShopifySans,Helvetica,Arial,San-Serif;
font-weight:bold;
}
.f1b
{
margin-right:80px;
margin-left:30px;
height:800px;
width:100%;
}
.f1box
{
height:380px;
width:490px;
border-radius:15px;
border:0.3px inset black;
background-color:#1B1F21;
}
.f1d
{
margin-right:20px;
margin-bottom:30px;
}
.f1g
{
margin-right:20px;
}
.f2b
{
font:40px ShopifySans,Helvetica,Arial,San-Serif;
font-weight:bold;
}
.f2c
{
font:40px ShopifySans,Helvetica,Arial,San-Serif;
font-weight:bold;
}
.f2d
{
font:23px ShopifySans,Helvetica,Arial,San-Serif;
}

.f2f
{
height:55px;
}
.f3
{
margin-left:40px;
margin-top:100px;
display:flex;
width:800px;
}
.flogo
{
margin-right:300px;
}
.foot3div
{
margin-bottom:30px;
font:18px ShopifySans,Helvetica,Arial,San-Serif;
}
.f3a p
{
font:16px ShopifySans,Helvetica,Arial,San-Serif;
margin-bottom:30px;
margin-right:30px;
width:200px;
}
.f3b p
{
font:16px ShopifySans,Helvetica,Arial,San-Serif;
margin-bottom:30px;
margin-right:50px;
width:200px;
}
.f3c p
{
font:16px ShopifySans,Helvetica,Arial,San-Serif;
margin-bottom:20px;
margin-right:180px;
width:200px;
}
.f3d p
{
font:16px ShopifySans,Helvetica,Arial,San-Serif;
margin-bottom:30px;
margin-right:150px;
}
.f4
{
margin-left:420px;
margin-top:100px;
display:flex;
}
.f3e p
{
font:16px ShopifySans,Helvetica,Arial,San-Serif;
margin-bottom:20px;
margin-right:100px;
}
.f3f p
{
font:16px ShopifySans,Helvetica,Arial,San-Serif;
margin-bottom:20px;
margin-right:100px;
}
.f5a
{
margin-top:100px;
height:1px;
width:980px;
background-color:grey;
margin-left:50px;
}
.foot6
{
height:120px;
}
.f6
{
display:flex;
font:15px ShopifySans,Helvetica,Arial,San-Serif;
margin-top:40px;
margin-left:45px;
}
.f6aa
{
display:flex;
margin-right:10px;
}
.f6b
{
margin-right:40px;
}
.f6ac
{
margin-right:40px;
}
.f7img
{
background-image:url("./assets/f7img.png");
height:80px;
width:400px;
margin-left:10px;
}








}

@media (max-width:580px){
.navbar
{
width:580px;
}
.toggle
{
display:block;
margin-left:460px;
}
.logo
{
display:inline;
margin-right:80px;
}
.navitems
{
display:none;
}
.navitemlast
{
background-color:transparent;
text-align:center;
color:white;
font:15px ShopifySans,Helvetica,Arial,San-Serif;
margin-left:50px;
}
.login
{
display:none;
}
.bg
{
height:550px;
width:100vw;
}
.making 
{
margin-top:0px;
margin-left:10px;
width:400px;
height:60px;
}
.making1 p
{
font:40px ShopifySans,Helvetica,Arial,San-Serif;
color:#FFFFFF;
}
.making2 p
{
font:18px ShopifySans,Helvetica,Arial,San-Serif;
width:495px;
}
.main1foot
{
margin-bottom:200px;
width:500px;
height:200px;
display:flex;
flex-direction:column;
}
.m1fa
{
margin-left:15px;
width:480px;
height:43px;
text-align:center;
color:black;
font:17px ShopifySans,Helvetica,Arial,San-Serif;
}
.m1fb
{
margin-left:15px;
margin-top:10px;
width:500px;
text-align:center;
}
.m1fc
{
margin-top:30px;
margin-left:15px;
margin-right:20px;
width:480px;
}
.main2
{
display:flex;
flex-direction:column;
}
.globe
{
height:500px;
width:50%;
margin-top:15px;
margin-left:30px;
}
.globetext
{
margin-top:0px;
margin-left:15px;
width:100%;
font:25px ShopifySans,Helvetica,Arial,San-Serif;
}
.globetext2
{
display:none;
}
.vglobetext2
{
height:320px;
width:500px;
font:30px ShopifySans,Helvetica,Arial,San-Serif;
display:flex;
margin-top:20px;
}
.vglobetext2 p
{
font:15px ShopifySans,Helvetica,Arial,San-Serif;
}
.vgflex1a
{
display:flex;
margin-bottom:40px;
margin-top:0px;
}
.vgflex1b
{
display:flex;
}
.vgflex2a
{
display:flex;
margin-bottom:40px;
margin-top:0px;
}
.vgflex2b
{
display:flex;
}
.vgflex1
{
margin-right:30px;
}
.vline
{
height:75px;
width:3px;
background-color:#01bae2;
margin-right:15px;
margin-left:10px;
}
.main3
{
font:10px ShopifySans,Helvetica,Arial,San-Serif;
height:20px;
margin-top:0px;
margin-left:10px;
}
.main4
{
width:100%;
height:300px;
margin-top:80px;
margin-left:10px;
font:14px ShopifySans,Helvetica,Arial,San-Serif;
}
.main4a
{
width:100%;
scrollbar-width:none;
overflow:scroll;
height:300px;
display:flex;
}
.box
{
height:200px;
width:450px;
background-color:transparent;
border-radius:10px;
margin-right:20px;
}
.main5a
{
font:13px ShopifySans,Helvetica,Arial,San-Serif;
width:500px;
margin-left:15px;
font-weight:bold;
}
.main5b
{
font:35px ShopifySans,Helvetica,Arial,San-Serif;
margin-left:15px;
height:40px;
margin-bottom:50px;
font-weight:bold;
}
.main5c 
{
background-image:url("./assets/main4image.webp");
height:450px;
width:400px;
margin-left:50px;
margin-bottom:30px;
}
.main5 p
{
display:none;
}
.main6
{
height:300px;
width:300px;
margin-left:45px;
margin-bottom:60px;
}
.animatedline
{
height:2px;
width:100px;
border-radius:10px;
background-color:#01e2a2;
margin-right:10px;
}
.albox
{
height:180px;
width:150px;
background-color:transparent;
margin-right:10px;
margin-top:30px;
font:12px ShopifySans,Helvetica,Arial,San-Serif;
line-height:1.6;
}
.main7
{
margin-left:15px;
}
.main7a
{
display:flex;
flex-direction:column;
}
.main7b
{
font:30px ShopifySans,Helvetica,Arial,San-Serif;
width:500px;
margin-right:0px;
}
.main7b1
{
margin-top:15px;
margin-bottom:20px;
width:500px;
font-size:30px;
font-weight:bold;
}
.main7c
{
font:15px ShopifySans,Helvetica,Arial,San-Serif ;
width:500px;
line-height:1.6;
}
.m7arrow
{
font-size:20px;
}
.main8
{
width:100%;
scrollbar-width:none;
overflow:scroll;
display:flex;
margin-top:50px;
margin-left:15px;
margin-bottom:0px;
}
.main9
{
height:850px;
width:500px;
margin-top:0px;
margin-left:15px;
display:flex;
flex-direction:column;
}
.main9a
{
margin-top:50px;
}
.main9b
{
font:15px ShopifySans,Helvetica,Arial,San-Serif;
font-weight:bold;
}
.main9c
{
font:26px ShopifySans,Helvetica,Arial,San-Serif ;
font-weight:bold;
}
.main9d
{
font:16px ShopifySans,Helvetica,Arial,San-Serif ;
line-height:1.5;
width:480px;
margin-top:15px;
margin-bottom:70px;
}
.main9e
{
font:17px ShopifySans,Helvetica,Arial,San-Serif;
font-weight:bold;
display:flex;
}
.main9g
{
height:500px;
width:400px;
margin-top:70px;
}
.main10a
{
display:flex;
flex-direction:column;
margin-left:25px;
}
.main10e
{
margin-top:30px;
font:30px ShopifySans,Helvetica,Arial,San-Serif;
font-weight:bold;
}
.main10h
{
margin-left:0px;
margin-top:50px;
}
.main10f
{
font:17px ShopifySans,Helvetica,Arial,San-Serif;
font-weight:bold;
}
.main10g
{
margin-top:15px;
height:1px;
width:350px;
background-color:black;
}
.main11
{
margin-top:0px;
margin-left:0px;
margin-bottom:0px;
height:900px;
width:100%;
display:flex;
flex-direction:column;
}
.main11i
{
height:650px;
width:40px;
}

.m11c
{
display:flex;
}
.m11d
{
width:50px;
}
.m11e
{
width:500px;
margin-top:10px;
}
.m11b
{
margin-top:30px;
}
.m11f
{
font:20px ShopifySans,Helvetica,Arial,San-Serif;
font-weight:bold;
margin-bottom:20px;
}
.m11g
{
font:17px ShopifySans,Helvetica,Arial,San-Serif;
margin-bottom:20px;
line-height:1.5;
}
.m11h
{display:none;
}
.main12
{
margin-top:0px;
margin-left:0px;
margin:bottom:200px;
height:900px;
width:100%;
display:flex;
flex-direction:column;
}

.m12g
{
font:20px ShopifySans,Helvetica,Arial,San-Serif;
font-weight:bold;
margin-bottom:20px;
}
.m12h
{
font:16px ShopifySans,Helvetica,Arial,San-Serif;
margin-bottom:20px;
line-height:1.5;
}
.m12i
{
display:none;
}
.st2
{
font-size:26px;
}
.main14
{display:none;
}
.main13
{
height:800px;
margin-bottom:80px;
margin-top:80px;
margin-left:0px;
display:flex;
flex-direction:column;
}
.m13f
{
height:500px;
width:500px;
margin-left:0px;
}
.m13a
{
width:500px;
margin-top:30px;
}
.m13b
{
font:23px ShopifySans,Helvetica,Arial,San-Serif;
font-weight:bold;
line-height:1.3;
}
.m13c
{
margin-top:30px;
font:24px ShopifySans,Helvetica,Arial,San-Serif;
font-weight:bold;
}
.m13d
{
margin-top:20px;
font:14px ShopifySans,Helvetica,Arial,San-Serif;
}
.m13e
{
margin-top:20px;
font-size:40px;
display:flex;
}
.m13ea
{
margin-right:10px;
}
.foot1
{
height:750px;
width:580px;
background-color:black;
}
.f1aaa
{
height:100px;
width:100%;
background-color:black;
}
.f1ab
{
font:33px ShopifySans,Helvetica,Arial,San-Serif;
font-weight:bold;
margin-top:10px;
}
.f1ac
{
font:33px ShopifySans,Helvetica,Arial,San-Serif;
font-weight:bold;
}
.f1b
{
overflow-x:scroll;
scrollbar-width:none;
display:flex;
margin-right:10px;
margin-left:10px;
height:1000px;
width:100%;
}
.f1c
{
display:flex;
}
.f1box
{
height:340px;
width:430px;
border-radius:15px;
border:0.3px inset black;
background-color:#1B1F21;
}
.f1d
{
margin-right:20px;
margin-bottom:30px;
}
.f1da
{
height:90px;
margin-top:40px;
margin-left:40px;
}
.f1dc
{
width:380px;
font:15px ShopifySans,Helvetica,Arial,San-Serif;
line-height:1.7;
}
.foot2
{
height:300px;
width:560;
border:none;
}
.f2
{
height:40px;
}
.f2b
{
text-align:center;
font:30px ShopifySans,Helvetica,Arial,San-Serif;
font-weight:bold;
}
.f2c
{
text-align:center;
font:30px ShopifySans,Helvetica,Arial,San-Serif;
font-weight:bold;
}
.f2d
{
margin-top:20px;
width:510px;
text-align:center;
font:18px ShopifySans,Helvetica,Arial,San-Serif;
}
.f2e
{
width:510px;
margin-top:0px;
text-align:center;
font:18px ShopifySans,Helvetica,Arial,San-Serif;
}
.f2f
{
margin-left:180px;
margin-top:30px;
width:170px;
height:45px;
font-weight:bold;
font:17px ShopifySans,Helvetica,Arial,San-Serif;
}
.f3
{
margin-left:10px;
margin-top:50px;
display:flex;
flex-direction:column;
}
.foot3div
{
margin-top:50px;
margin-bottom:30px;
font:15px ShopifySans,Helvetica,Arial,San-Serif;
}
.f3a p
{
font:15px ShopifySans,Helvetica,Arial,San-Serif;
margin-bottom:30px;
}
.f3b p
{
font:15px ShopifySans,Helvetica,Arial,San-Serif;
margin-bottom:30px;
}
.f3c p
{
font:15px ShopifySans,Helvetica,Arial,San-Serif;
margin-bottom:30px;
}
.f3d p
{
font:15px ShopifySans,Helvetica,Arial,San-Serif;
margin-bottom:30px;
}
.f4
{
margin-left:15px;
margin-top:0px;
display:flex;
flex-direction:column;
}
.f3e p
{
font:15px ShopifySans,Helvetica,Arial,San-Serif;
margin-bottom:30px;
}
.f3f p
{
font:15px ShopifySans,Helvetica,Arial,San-Serif;
margin-bottom:30px;
}
.foot5
{

}
.f5a
{
margin-top:50px;
height:1px;
width:570px;
background-color:grey;
margin-left:0px;
}
.foot6
{
height:380px;
}
.f6
{
height:400px;
width:570px;
background-color:#f4f4f5;
display:flex;
flex-direction:column;
font:15px ShopifySans,Helvetica,Arial,San-Serif;
margin-top:0px;
margin-left:0px;
}
.f6a
{
margin-top:60px;
margin-left:240px;
width:570px;
text-align:center;
display:flex;
}
.f6aa
{
margin-right:5px;
}
.f6ac
{
margin-left:0px;
font-size:20px;
}
.f6b
{
width:560px;
margin-right:0px;
margin-top:40px;
text-align:center;
}
.f6img
{
background-image:url("./assets/f6img.png");
height:70px;
width:400px;
margin-left:80px;
}
.f7img
{
display:none;
}

}





